{% extends "baseTemplate.twig" %}
{% block content %}


	<section class="text-page">
		<h1>Cookies</h1>
		<p>
			Prularia.be maakt gebruik van cookies om je een betere gebruikservaring te bieden. Cookies zijn kleine, tekstbestandjes die we opslaan in je browser of op de harde schijf van je computer of mobiele apparaat wanneer je onze website bezoekt. 
			Cookies helpen ons om de werking van onze website te verbeteren en te begrijpen wat de interesses zijn van onze bezoekers.
			Je kan steeds je voorkeuren aanpassen via Cookie-instellingen.
            Je vindt ook meer informatie over privacy in onze <u><a href="{{ basePath() }}/privacypolicy">Privacy Policy pagina</a></u>
		</p>
        </br>
        </br>
        <button class="btnShowCookieBanner button">Instellingen datagebruik</button>
        </br>
        </br>
        </br>
        </br>

        <section>
            <h2>Welke cookies gebruiken wij nu?</h2>
            
            <h3>Functionele cookies</h3>
            <p>
                Functionele cookies zijn nodig om de website optimaal te laten functioneren. 
                Ze zorgen ervoor dat onder andere je taalvoorkeur, jouw log-in gegevens en geselecteerde producten in jouw winkelmandje opgeslagen worden.
            </p>
            
            <h3>Analytische cookies</h3>
            <p>
                Om onze website te verbeteren en je een betere dienstverlening te kunnen bieden, analyseren wij op anonieme basis het surfgedrag van onze gebruikers. 
                Onder meer volgende gegevens worden opgeslagen:
            </p>
            <ul>
                <li>Technische kenmerken zoals browser en type apparaat,</li>
                <li>Wanneer en hoe lang je de website hebt bezocht,</li>
                <li>Welke pagina’s je hebt bekeken;</li>
                <li>Laadsnelheid van een pagina, …</li>
            </ul>

            <!-- niet van toepassing
            <h3>Social media cookies</h3>
            <p>
                Prularia.be bevat ook inhoud van derde partijen, zoals video’s van Youtube of kaarten van Google Maps. 
                Deze inhoud is opgeslagen op een andere website, maar wordt getoond via Prularia.be.  
                Daarnaast kan de inhoud van Prularia.be gedeeld worden via zogenaamde “deel” knoppen. Dit kan het voor social media mogelijk maken om via Prularia.be cookies te plaatsen en zo gegevens te verzamelen. 
                Hiervoor verwijzen wij door naar de <strong>privacyverklaringen</strong>  van de desbetreffende social media.
            </p>
            -->

            <h3>Advertentie cookies</h3>
            <p>
                Prularia.be gebruikt advertentiecookies van derde partijen, zodat we je aanbiedingen kunnen tonen die afgestemd zijn op jouw interesses. 
                Dit gebeurt op basis van de pagina's die je hebt opgevraagd, je zoekgedrag en je koopgedrag.
            </p>

            
        </section>

	</section>

{% endblock %}
