{% extends "baseTemplate.twig" %}
{% block content %}
	<div class="maincategory_container">
		<div class="maincategory_div">
			<h2 id="search-h2">Zoekresultat(en) van "{{searchTerm}}"</h2>
			<section id="searchResult">
				{% if searchProducts is empty  %}
					<div>
						<small>
						<span>
							Niets gevonden :(
						</span>
						<br>
						<br>
							<p>Probeer het opnieuw met een andere zoekterm, of:</p>
							<ul class="zoektips">
								<li>Controleer de spelling van je zoekterm.</li>
								<li>Maak je zoekterm minder specifiek.</li>
							</ul>
						</small>
					</div>
				{% else %}
					<ul id="productsFromSearch">
						{% for product in searchProducts %}
							<li>
								{% include "/Components/productCard.twig" with {"product" : product} %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</section>
		</div>
	</div>
{% endblock %}
