{% extends "baseTemplate.twig" %}
{% block content %}
	<section class="text-page">
		<h1>Algemene Voorwaarden</h1>
		<article>
			<h2>1. Toepasselijkheid</h2>
			<p>
				1.1. Deze algemene voorwaarden zijn van toepassing op alle aanbiedingen, bestellingen en overeenkomsten
							                met betrekking tot Prularia, gevestigd te België.
			</p>
		</article>

		<article>
			<h2>2. Bestellingen</h2>
			<p>
				2.1. Bestellingen kunnen worden geplaatst via de website van Prularia.
			</p>
			<p>
				2.2. De klant dient accuraat en volledig alle vereiste informatie te verstrekken bij het plaatsen van
							                een bestelling.
			</p>
			<p>
				2.3. Door het plaatsen van een bestelling gaat de klant akkoord met deze algemene voorwaarden.
			</p>
		</article>

		<article>
			<h2>3. Prijzen en betaling</h2>
			<p>
				3.1. Alle prijzen zijn vermeld in Euro's, inclusief BTW en exclusief eventuele verzendkosten.
			</p>
			<p>
				3.2. Betaling dient te geschieden via de aangeboden betaalmethoden op de website van Prularia.
			</p>
		</article>

		<article>
			<h2>4. Levering</h2>
			<p>
				4.1. Prularia streeft ernaar om bestellingen zo snel mogelijk te leveren binnen de aangegeven
							                levertermijn.
			</p>
			<p>
				4.2. Leveringen worden verzorgd door externe vervoerders en Prularia is niet aansprakelijk voor
							                vertragingen in de levering.
			</p>
		</article>

		<article>
			<h2>5. Retourneren</h2>
			<p>
				5.1. Klanten hebben het recht om producten binnen 14 dagen na ontvangst te retourneren, mits deze in
							                originele staat verkeren.
			</p>
			<p>
				5.2. De kosten voor retourzendingen zijn voor rekening van de klant, tenzij anders overeengekomen.
			</p>
		</article>

		<article>
			<h2>6. Garantie</h2>
			<p>
				6.1. Op alle producten geldt de wettelijke garantie van conformiteit.
			</p>
			<p>
				6.2. Eventuele gebreken dienen binnen een redelijke termijn na ontdekking te worden gemeld aan
							                Prularia.
			</p>
		</article>

		<article>
			<h2>7. Privacy</h2>
			<p>
				7.1. Prularia respecteert de privacy van haar klanten en behandelt persoonlijke gegevens vertrouwelijk
							                conform de geldende privacywetgeving.
			</p>
			<p>
				7.2. Persoonlijke gegevens worden alleen gebruikt voor het verwerken van bestellingen en het
							                verbeteren van de dienstverlening.
			</p>
		</article>

		<article>
			<h2>8. Aansprakelijkheid</h2>
			<p>
				8.1. Prularia is niet aansprakelijk voor directe of indirecte schade veroorzaakt door het gebruik van
							                haar producten of diensten.
			</p>
			<p>
				8.2. De klant vrijwaart Prularia tegen alle aanspraken van derden met betrekking tot gebruik van
							                producten en diensten.
			</p>
		</article>

		<article>
			<h2>9. Geschillen</h2>
			<p>
				9.1. Geschillen tussen Prularia en haar klanten worden zoveel mogelijk in onderling overleg opgelost.
			</p>
			<p>
				9.2. Indien een geschil niet tot een oplossing leidt, is de rechtbank van België bij uitsluiting
							                bevoegd.
			</p>
		</article>

	</section>

{% endblock %}
