<div class="product-card">
    <a href="{{ basePath() }}/category?categorieId={{ categorie.id }}">
     <div class="container-product-img">
           <img class="product-img" src="./public/assets/img/categorie-{{categorie.id}}.jpg">
        </div>
      <article class="product-article"> 
      <h2 class="product-h2" >{{categorie.naam}}</h2>
       
       
       
        
        </a>
      </article>
    </div>