<div id="cookie-banner">
	<div class="cookie-wrapper">
		<header class="cookie-header">
			<h2>Cookiebeheer</h2>
			<br>
			<hr>
		</header>
		<article class="cookie-info">
			<p>Deze website maakt alleen gebruik van
				<b>strikt noodzakelijke</b>
				cookies voor de goede werking van de site.
			</p>
			<p>
				We gebruiken geen cookies voor tracking, advertenties of andere doeleinden. Door gebruik te maken van deze website stemt u in met het gebruik van strikt noodzakelijke cookies. U kunt uw browserinstellingen aanpassen om cookies te beheren.</p>
			<p>
				Raadpleeg ons
				<a href="{{basePath()}}/privacypolicy" class="link">privacy beleid</a>
				voor meer informatie over hoe we uw gegevens beschermen.
			</p>
		</article>
		<div class="cookieButtons flex">
			<button class="btn button btnAcceptCookies">Ik ga akkoord</button>
			<a href="{{basePath()}}/privacypolicy" class="link">Privacy policy</a>
		</div>
	</div>
</div>
